.landing {
    background-image: url("../../img/RENDERS/A-3.jpg");
    font-weight: 600;
    
}

.imgland{
    width: 90%;
    height: auto;
    border-radius: 5px;
}

.firtsBack{
    font-weight: 400;
}

.carousel-sm {
    max-width: 400px; /* Ajusta el tamaño según tus necesidades */
    margin: auto;
  }
  